body{
    background-image: url("images/universe.png");
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
		color: white;
}

tr:nth-child(even){background-color: #82CAFA}

th {
    background-color: #003366;
    color: white;
}
