body{
    background-image: url("images/universe.png");
}

header{
    margin: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
/*styled the text inside the table*/
th, td {
    text-align: center;
    font-family: arial;
    font-size: 16px;
    padding: 8px;
    color: white;
    height: 80px;
}
/*change the color of any even row */
tr:nth-child(even){
background-color: #82CAFA
}
/*change th background color of the first row*/
th {
    background-color: #003366;
    color: white;
}
